@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
body {
  background-color: rgb(250, 250, 227);
  color: rgb(64, 11, 211);
  font-size: medium; 
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  
}
.photo {
  
  width: 150px;
  border-radius: 80px
  
 }
 